:root {
    /*========== Colores ==========*/
    --color-principal: #fff9ec;
    --color-contraste: #645e4e;
    --color-contraste-transparente: rgb(100, 94, 78, 0.9);
    --color-claro: #b2ab99;
    --color_footer: #a1c9c1;
    --color-claro-azul: #d8fff9;
    --color-header: background-color: rgba(255, 255, 255, 0);
    /* Fondo transparente */
  }
  
  * {
  
    font-optical-sizing: auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* background-color: var(--color-principal); */
  }
  
  body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;/*elimina el scroll del eje x*/
    background-color: var(--color-principal);
  }
  
  /* ================ header ================ */
  
  #headerZapateria {
    /* position: fixed;
    top: 0;
    z-index: 1000; */
    width: 100%;
    background-color: var(--color-header);
  
  }
  
  .navbar {
    margin: 20;
    padding: 0;
  
  }
  
  .collapse {
    z-index: 1000;
  }
  
  .nav-link,
  .nav-bg,
  .icons,
  .icon,
  #navbar-bg {
    background-color: var(--color-header);
  }
  
  #bannerId {
    margin-top: 80px;
  }
  
  @media (max-width: 900px) {
    #headerZapateria{
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
  
  @media (min-width: 900px) {
    #headerZapateria {
      /* position: fixed;
      z-index: 1000; */
      background-color: var(--color-header);
      width: 100%;
    }
  
    .navbar {
      margin: 0;
      padding: 0;
  
    }
  
    .collapse,
    .nav-link,
    .nav-bg,
    .icons,
    .icon,
    #navbar-bg {
      background-color: var(--color-header);
    }
  
    #bannerId {
      margin-top: 0px;
    }
  
  
  
  }
  
  #headerZapateria:hover{
    background-color: rgb(191, 181, 158, 0.8);
  }
  
  
  /* ================ FOOTER ================ */
  
  
  footer h2 {
    font-size: 25px;
    color: white;
    padding-top: 5%;
    padding-bottom: 4%;
    
  }

  footer p {
    margin: 0;
  }

  .row a{
    color: black;
    font-size: 20px;
  } 

  footer li{
    list-style-type: none;
  }
  
  .footer_section{
    background: #A1C9C1;
    color: rgb(255 255 255 / 50%);
    bottom: 0;
    height: 20%;
    width: 100%;
  
  }
  
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #ffffff33;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
    justify-content: center;
  }
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: white;
  }

/* ================ FOOTER ================ */

/* ================ Admin panel ================ */

.panel-section{
  display: flex;
  flex-direction: row;
}

.admin-title{
    text-align: center;
}

#admin-panel{
  flex-grow: 1;
}

#blank-panel{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#blank-panel .admin-table{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  vertical-align: bottom;
  color: #686871;
}

#admin-panel ul{
  text-align: center;
  list-style-type: none;
}

#admin-panel svg{
  margin-right: 1rem;
}

/* ================ Admin panel ================ */

/* ================ Tabla admin ================ */

.admin-table{
    margin: 1rem;
}

.admin-table tr{
    vertical-align: text-top;
}

.admin-table img{
    height: 10rem;
}

.admin-table button{
    padding: 0.3rem 0.3rem;
    border: none;
    background-color: rgb(0, 0, 0, 0);
}

#admin-table-data input{
  width: 7rem;
}

/* ================ Tabla admin ================ */

/*=================Side-menu====================*/

.side-menu-admin{

  background-color: rgb(178, 171, 153, 0.5);
  height: 80vh;
  width: 10vh;

  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0px 20px 35px #b2ab99;
  box-sizing: border-box;
}

.side-menu-admin ul{
  margin: 0;
  padding: 0rem 0.5rem;
  list-style-type: none;
}

.side-menu-admin li{
  padding: 1rem 0rem;
}

/* .side-menu-admin a{
  position: relative;
} */

.side-menu-admin svg{
  color: #979284;
}

.side-menu-admin svg:hover{
  color: var(--color-contraste);
}

.side-menu-admin div:hover{
  background: var(--color-claro);
}

.side-menu-list{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.side-menu-list span{
  /* position: fixed;
  top: 50%;
  left: 10%; */
  color: black;
  padding: 1rem;
}

.side-menu-extended .bi{
  position: relative;
  width: 70px;
  height: 70px;
  top: 0px;
  text-align: center;
}

/* .nav-item-menu{
  position: relative;
  top: 12px;
  margin-left: 10px;
} */

main nav:hover{
  width: 280px;
  transition: all 0.5s ease;
}

/* ======================= Page agregar zapato ======================= */

.contenedor_principal_agregarZapato {
  /* background-color: var(--color-principal); */
  /* margin-top: 20px; */
  /* margin-bottom: 5rem; */
  /* Reducir la altura del contenedor */
  height: 80vh;
  width: 100%;
  /* z-index: 8; */
  /* padding-top: 40px; */
  /* box-shadow: 0px 0px 0px 3px red; */
}

.tituloAgregarZapato {
  text-align: left;
  /* background-color: var(--color-principal); */
  /* margin-top: 10px; */
  height: 5vh;
  z-index: 5;
}

.contenedorImagenAgregarZapato {
  /* background-color: var(--color-principal); */
  /* width: 40%; */
  height: 50vh;
  /* z-index: 3; */
  padding: 30px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
    -7px -10px 10px -1px rgba(255, 255, 255, 0.40);
}

.contenedorImagenAgregarZapato > img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 15px;
}


.contenedorImagenAgregarZapato .imagenSeleccionada {
  padding: 5px;
  width: 100%;
  /* Rellena el contenedor horizontalmente */
  height: 40vh;
  object-fit: cover;
  /* Escala y recorta la imagen para que encaje en el cuadrado */
  /* background-color: var(--color-principal); */
  border: none;
  backdrop-filter: blur(12px);
}


/* === carousel agregar zapato === */

#botonCarouselAgregarZapato {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-contraste);
}

#previaImagenAgregarZapato {
  margin-left: 0;
  left: 0;
}

#siguienteImagenAgregarZapato {
  margin-right: 0;
  right: 0;
}

.contenedorImagenAgregar {
  /* background-color: #645e4e; */
  text-align: center;
  margin-bottom: 5px;
  border-radius: 15px;
}

/* === seleccionador de talla === */
.talla-selector {
  display: flex;
  flex-wrap: wrap;
}

.talla-checkbox {
  margin-right: 10px;
  margin-bottom: 10px;
}

.talla-checkbox input[type="checkbox"] {
  display: none;
}

.talla-checkbox label {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.talla-checkbox input[type="checkbox"]:checked+label {
  background-color: #0070d2;
  color: white;
}

.talla-mostradas {
  font-weight: bold;
}

.hidden-radio {
  display: none;
}

.form-check-label {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}


.form-check-input:checked+.form-check-label {
  background-color: #007bff;
  color: white;
}




.contenedorBotonAgregarZapato {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  z-index: 5;
}

.btnSubmitAddZapato {
  background-color: var(--color-contraste);
  color: var(--color-principal);
  padding: 10px 70px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transform: scaleY(0.9);
}

