:root {
    /*========== Colores ==========*/
    --color-principal: #fff9ec;
    --color-contraste: #645e4e;
    --color-contraste-transparente: rgb(100, 94, 78, 0.9);
    --color-claro: #b2ab99;
    --color_footer: #a1c9c1;
    --color-claro-azul: #d8fff9;
    --color-header: background-color: rgba(255, 255, 255, 0);
    /* Fondo transparente */
  }
  
  * {
    font-optical-sizing: auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*background-color: var(--color-principal); */
  }
  
  body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;/*elimina el scroll del eje x*/
    background-color: var(--color-principal);
   }

.contenedor_principal_detallesCompra{
    height: 100vh;
    margin-top: 60px;
    color: #fff9ec;
}


.contenedorDatosUsuarioCompra{
    background-color: #645e4e;
    color: #fff9ec;
}

.contenedorResumenCompra{
    display: flex;
    
    background-color: #927525;
    color: #fff9ec;
}


/* ======= DATOS DE ENTREGA ======= */

.contenedorDatosEntrega{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #927525;
    color: #fff9ec;
}

.contenedorDatosEntrega > .contenedorInfoEntrega {
    width: 80%;
    padding: 20px;
}

.contenedorDatosEntrega > .contenedorInfoResumen {
    width: 20%;
    padding: 20px;
    /* centrar el contenido */
    display: flex;
}

.contenedorDatosEntrega > .contenedorCambiarDireccion{
    width: 20%;
    padding: 20px;
    /* centrar el contenido */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #927525;
    color: #fff9ec;
}

.contenedorCambiarDireccion a{
    cursor: pointer;
    background-color: #308630;
    color: #fff9ec;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}



.contenedorCambiarDireccion a:hover{
    cursor: pointer;
    background-color: #5936b0;
}



/* ========== Fin de DATOS DE ENTREGA ========= */




/* ========== DATOS DE PEDIDO ========= */




