:root {
  /*========== Colores ==========*/
  --color-principal: #fff9ec;
  --color-contraste: #645e4e;
  --color-contraste-transparente: rgb(100, 94, 78, 0.9);
  --color-claro: #b2ab99;
  --color_footer: #a1c9c1;
  --color-claro-azul: #d8fff9;
  --color-header: background-color: rgba(255, 255, 255, 0);
  /* Fondo transparente */
}

* {
  font-optical-sizing: auto;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* background-color: var(--color-principal); */
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  /* background-color: var(--color-principal); */
  /*elimina el scroll del eje x*/
}




/* ============================================= */
/* ============ page inicio ==================== */
/* ============================================= */


/*=============== home products ===============*/



.list-products-home img {
  max-width: 100%;
  height: 100%;
  justify-content: center;
}

.list-products-home .btn {
  background-color: #B2AB99;
  border-color: #B2AB99;
  color: #645E4E;
}

.card-img {
  width: 100%;
  height: 100%;
  justify-content: center;
}

.container-list-products {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  gap: 25px;
}

@media screen and (max-width: 767px) {
  .container-list-products {
    grid-template-columns: repeat(2, 1fr);
  }
}

.text-product {
  text-align: center;
}

.info-card {
  background-color: #645E4E;
  color: white;
}

.titulo-letras {
  color: #645E4E;
}

.indicarContenidoAbajo {
  background-color: #007bff;
  z-index: 10;
  right: 10px;
  bottom: 0;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  animation: boton_top_bottom 6s linear forwards; /* Cambiamos el nombre de la animación */
}

.indicarContenidoAbajo > button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@keyframes boton_top_bottom { 
  0% {
    top: 0px; 
    transform: translateY(-500px); 
    opacity: 1;
  }

  100% {
    transform: translateY(0px); 
    opacity: 1;
  }
}


/* transicion del boton  indicarContenidoAbajo al cargar la pagina*/



/* ===== Carrousel de productos recentes ====*/

/* Estilos base para el carrusel */
.carrouselProductosRecientes {
  /* background-color: var(--color-principal); */
  /* background-color: #0070d2; */
  /* background-color: #0070d2; */
  width: 100%;
  height: 520px;
  overflow: hidden;
  margin-bottom: 20px; 
}

/* */

.card-description {
  padding: 1rem;
}



.card-title,
.card-text {
  margin: 0rem 2rem;
}

.carrito-button {
  display: flex;
  align-items: center;
  justify-content: end;
}
    
.card-description {
  padding: 1rem;
}

.card-title,
.card-text {
  margin: 0rem 2rem;
}


.card-link button {
  margin: 0rem 0.5rem;
  padding: 0.4rem 0.5rem;
  /* border-radius:15px; */
}


/* ======= Zona critica ============ */



#swiper-wrapperProductosRecientes {
  /* position: relative; */
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 20px; 
  padding-bottom: 20px;
  /* background-color: orangered; */
  height: 100%;
  /* height: 40vh; */
} 


.cardProductosRecientes {
  /* position: relative; */
  /* background-color: #007bff; */
  box-shadow: -6px -6px 15px rgba(255, 255, 255, 1),
              6px 6px 15px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding: 5px;
  width: auto;
  height: auto;
  margin-bottom: 10px;
}

/* ======= Fin de Zona critica ============ */


.cardProductosRecientes .card-imgProductosRecientes {
  width: 100%;
  height: 65%;
  padding: 1%;
  align-items: center;
  margin: 0 auto;
}

.cardProductosRecientes > .contenedor_Botonfavorito{
  position: absolute;
  top: 12px;
  left: 13px;
}

.cardProductosRecientes .card-datosProductosRecientes{
  /* background-color: orange; */
  width: 100%;
  height: 25%;
  margin: 0 auto;
  border-radius: 25px;
}



.cardProductosRecientes .card-imgProductosRecientes img {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  object-fit: cover;
}





.contenedor_Botonfavorito > .boton_favorito{
  width: 35px;
  border: none;
  outline: none;
  background: var(--color-contraste);
  color: white;
  height: 35px;
  border-radius: 50%;
  font-size: 12px;
  cursor: pointer;
}

.boton_favorito:hover{
  background-color: #7cc25c;
}
.swiper-button-next,
.swiper-button-prev {
    position: absolute;/* Ajusta las flechas a una posición absoluta dentro del contenedor del carrusel */
    top: 37% !important ;
    transform: translateY(-50%);
    z-index: 1000; 
   
}

.swiper-button-prev {
    left: 10px; 
}

.swiper-button-next {
    right: 10px; /* Ajusta la posición de la flecha derecha */
}


/*   
@media screen and (max-width: 920px) {

  .swiper-button-next,
  .swiper-button-prev {
    visibility: hidden;
  }
} */

/* == Fin de Carrousel de productos recentes ==*/



/*=============== banner ===============*/

main a {
  color: inherit;
}

main li {
  display: block;
  margin-top: 10px;
  color: var(--color-contraste);
  font-size: x-large;
}

main li a.active {
  font-weight: bold;
  font-size: xx-large;
  color: var(--color-contraste);
}

ul {
  list-style: none;
  padding: 0;
}

#banner-menu {
  display: flex;
  align-items: center;
}




.button-pr{
  margin: 0.5rem 0.5rem;
  padding: 1rem;
  box-shadow: 0px 0px 0px 2px var(--color-contraste);
  border: none;
  border-radius: 0rem;
}

.banner-pdt {
  margin: 0.5rem 0.5rem;
  padding: 1rem;
  box-shadow: 0px 0px 0px 2px var(--color-contraste);
  border: none;
  border-radius: 0rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.buy {
  background-color: var(--color-contraste);
  color: var(--color-principal);
}

.slider-banner {
  /* background-color: rebeccapurple; */
  color: var(--color-contraste);
  position: relative;
  display: grid;
  height: 100vh;
}

.slides-banner .slide-banner {
  /* min-height: calc(100%); */

  width: 100%;
  position: relative;
  z-index: 5;
  height: 100%;
}

.slides-banner {
  overflow-y: auto;
  scrollbar-width: none;
  /* height: 100%; */
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  /* box-shadow: 0px 0px 0px 3px pink; */
}

.img-banner {
  width: 100%;
  height: 100vh;
  /* margin: 0 auto;
  position: relative;
  z-index: 5;
  height: 95%; */
  object-fit: cover;
}

.description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  /* box-shadow: 0px 0px 0px 3px red; */
}

.banner-content {
  padding: 0rem 2.5rem;
  /* box-shadow: 0px 0px 0px 3px #7cc25c; */
}

.carrusel-banner .carousel-caption {
  -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
  color: black;
  text-align: right;
}

.carrusel-banner .banner-button {
  font-size: medium;
}

.carrusel-banner .banner-pdt {
  padding: 0.5rem 0.6rem;
}

@media (min-width: 0px) and (max-width: 767px) {

  .description {
    margin: 0.5rem 0rem;
    height: 10%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    top: 0; */
  }

  #img__banner {
    order: -1;
    /* max-height: 30rem; */
    min-height: 100%;
    align-items: center;
    justify-content: center;
    vertical-align: baseline;
    /* box-shadow: 0px 0px 0px 3px green; */
    overflow: hidden;
  }

}

@media (min-width: 769px) and (max-width: 900px) {

  .slider-banner {
    /* background-color: rebeccapurple; */
    color: var(--color-contraste);
    min-height: 75vh;
  }

  .description {
    margin: 0.5rem 0rem;
    min-height: 75vh;
  }

  #img__banner {
    /* order: -1; */
    /* max-height: 30rem; */
    min-height: 75vh;
    align-items: center;
    justify-content: center;
    vertical-align: baseline;
    /* box-shadow: 0px 0px 0px 3px green; */
    overflow: hidden;
  }

  

}

@media (min-width: 768px) and (max-width: 915px){
  .buttons{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }
  .banner-pdt{
    width: 100px;
    text-align: center;
  }
}


/*=============== banner ===============*/
