:root {
  /*========== Colores ==========*/
  --color-principal: #fff9ec;
  --color-contraste: #645e4e;
  --color-contraste-transparente: rgb(100, 94, 78, 0.9);
  --color-claro: #b2ab99;
  --color_footer: #a1c9c1;
  --color-claro-azul: #d8fff9;
  --color-header: rgba(255, 255, 255, 0);
  /* Fondo transparente */
}

* {
  font-optical-sizing: auto;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*background-color: var(--color-principal); */
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;

}

/* ===================Iniciar Sesion============================ */
/* Contenedores */

.contenedor_principal_iniciarsesion {
  background-color: var(--color-principal);
  margin-top: 0px;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 8;
}


.contenedor-imagen-iniciarsesion {
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1;
}


#imgIniciarSesion {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 30%;


}

/* ================ FORMULARIO ================ */

.contenedor-formulario-iniciarsesion {
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}


.formulario-iniciar-sesion {
  /* background-color: rebeccapurple; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vh;
  z-index: 2;
}

.campo-formulario {
  width: 60vh;
  /* background-color: #645E4E; */
  margin-bottom: 30px;
}



.campo-formulario input {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  border-color: var(--color-claro);
  padding: 4px 10px;

}
.campo-formulario a {
  color: var(--color-contraste);
}


.cuenta {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 2rem;
  font-size: small;
}

.cuenta a {
  justify-content: center;
  font-size: medium;
  color: var(--color-contraste);
}s

.cuenta p {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

#olvidaste-contraseña {
  font-size: small;
  text-align: right;
}


.btn-iniciarsesion {

  color: white;
  background-color: #645E4E;
  border: none;
  border-radius: 8px;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#registrate:hover{
  color: var(--color-claro);
}



@media (min-width: 760px) and (max-width: 998px) {
  .contenedor_principal_iniciarsesion {
    position: relative;
    top: 0;
    margin-top: 0px;
    left: 0;
    width: 100%;
    margin-bottom: 0px;
    background-color: #fff9ec;
  }

  .contenedor-imagen-iniciarsesion {
    background: rgba(255, 255, 255, 0.112);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }


  .formulario-iniciar-sesion {
    color: #a1c9c1;
    background-color: #fff9ec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    align-items: center;
    width: 50%;
    height: 80%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.112);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }

}

@media (min-width: 230px) and (max-width: 575px) {
  #textCrear {
    margin-top: 0px;
  }

  .contenedor_principal_iniciarsesion {
    top: 0;
    margin-bottom: 0px;
    background-color: #fff9ec;
    display: flex;
    text-align: center;
    align-items: center;
  }

  .formulario-iniciar-sesion {
    color: #a1c9c1;
    background-color: #fff9ec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    align-items: center;
    width: 50%;
    height: 80%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.112);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }
  .campo-formulario {
    width: 40vh;
    /* background-color: #645E4E; */
    margin-bottom: 30px;
  }
  
  .campo-formulario input {
    width: 100%;
  
  }

  #espacioFooter {
    margin-top: 70;
  }

}