:root {
    /*========== Colores ==========*/
    --color-principal: #fff9ec;
    --color-contraste: #645e4e;
    --color-contraste-transparente: rgb(100, 94, 78, 0.9);
    --color-claro: #b2ab99;
    --color_footer: #a1c9c1;
    --color-claro-azul: #d8fff9;
    --color-header: background-color: rgba(255, 255, 255, 0);
    /* Fondo transparente */
  }
  
  * {
    font-optical-sizing: auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* background-color: var(--color-principal); */
  }
  
  body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    /*elimina el scroll del eje x*/
  
  }

  
/*=============== PRODUCT LIST ===============*/
.contenedor-lista-productos{
    background-color: var(--color-principal);
    background-color: white;
  }
  
  .encabezado{
    /* margin: 6rem 0rem 4rem 3rem; */
    padding: 6rem 0rem 2rem 0rem;
    text-align: center;
  }
  
  #encabezado-filtro{
    margin-left: 1rem;
  }
  
  /* .filters{
    box-shadow: 0px 0px 0px 3px red;
  } */
  
  .product-list{
    display: flex;
    justify-content: center;
  }
  
  .card__lista__productos{
    position: relative;
    display: flex;
    justify-content: center;
    width: 16rem;
    margin: 1rem 1rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
  }
  
  .iconHeart-lista{
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  
  .iconHeart-lista:hover{
    color: black;
    background-color: rgba(1, 1, 1, 0);
  }
  
  .imagen-lista{
    width: 16rem;
    /* height: 20rem; */
    border-radius: 1rem 1rem 0rem 0rem;
    overflow: hidden;
  }
  
  .card__lista__productos img{
    width: 100%;
    max-height: 35vh;
    border-radius: 1rem 1rem 0rem 0rem;
    object-fit: cover;
  }
  
  /* .card__lista__productos img:hover{
    transform: scale(1.4);
    transition: all 0.8s;
    border-radius: 1rem;
  } */
  
  .card__lista__productos .card-body{
    margin: 0.5rem;
  }
  
  .card__lista__productos .list-card-title,
  .card__lista__productos .list-card-text{
    margin: 0.5rem 0rem;
  }
  
  .list-card-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .list-card-button button{
    margin: 0;
    padding: 0.5rem;
    background-color: var(--color-contraste);
    color: var(--color-principal);
    box-shadow: 0px 0px 0px 2px var(--color-contraste);
    border: none;
    border-radius: 0rem;
  }
  
  .card__lista__productos a,
  .card__lista__productos .list-card-button{
    visibility: hidden;
  }
  
  .card__lista__productos:hover a,
  .card__lista__productos:hover .list-card-button{
    visibility: visible;
  }
  
  
  .list-card-text{
    color: #8c8c8c;
  }
  
  .filters label{
    margin-left: 1rem;
    font-size: medium;
  }
  
  .filters li:hover{
    background-color: white;
  }
  
  .filters input[type="checkbox"] {
    accent-color: var(--color-contraste);
  }
  
  #sidebar-menu-filter-text{
    margin: 1rem;
  }
  
  .sidebar-menu-button{
    margin: 0.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .sidebar-menu-button button{
    font-size: small;
    margin: 0.5rem;
    padding: 0.3rem;
    background-color: var(--color-contraste);
    color: var(--color-principal);
    box-shadow: 0px 0px 0px 2px var(--color-contraste);
    border: none;
    border-radius: 0rem;
  }
  
  #remove-filters{
    font-size: small;
    margin: 0.5rem;
    padding: 0.3rem;
    background-color: var(--color-principal);
    color: var(--color-contraste);
    box-shadow: 0px 0px 0px 2px var(--color-contraste);
    border: none;
    border-radius: 0rem;
  }