:root {
  /*========== Colores ==========*/
  --color-principal: #fff9ec;
  --color-contraste: #645e4e;
  --color-contraste-transparente: rgb(100, 94, 78, 0.9);
  --color-claro: #b2ab99;
  --color_footer: #a1c9c1;
  --color-claro-azul: #d8fff9;
  --color-header: background-color: rgba(255, 255, 255, 0);
  /* Fondo transparente */
}

* {
  font-optical-sizing: auto;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* background-color: var(--color-principal); */
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  /*elimina el scroll del eje x*/

}

/* ============================================= */
/* ============ page sobre nosotros ============ */
/* ============================================= */

#nosotros {
  display: flex;
  flex-wrap: nowrap;

  background-color: var(--color-principal);
  height: 600px;
}


#nosotros>.contenedor_imagen_nosotros {
  width: 50%;
  height: 550px;
  justify-content: space-between;
  align-items: center;
}

.contenedor_imagen_nosotros img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#contenedor_vision {
  height: auto;
}
#contenedor_vision p{
  text-align: justify;
  justify-content: center;
}

a {
  text-decoration: none;
}



/*=============== CARD ===============*/

/* .container {
  background-color: #645e4e;
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%; 
} */

.text-start{
background-color: var(--color-principal);
}

#texto_equipo_desarrollo {
  text-align: center;
  color: var(--color-contraste);
  font-size: 2.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-weight: bolder;

}

.card__container {
  width: 100%;
  height: 440px;
  margin-bottom: 0;
  /* margin-bottom: 10px; */
}

.card__container>.card__content {
  /* margin-inline: 1.75rem; */
  border-radius: 1.25rem;
  overflow: hidden;
  /* border: 3px solid  rgb(241, 205, 5); */
  height: 400px;
}

.card__content>.card__article {
  background-color: #0f0f0f;
  border-radius: 1.25rem;
  /* overflow: hidden; */
  height: 400px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.19),
    -5px -5px 5px rgba(255, 255, 255, 0.2),
    2px 2px 2px rgba(0, 0, 0, 0.08) inset;
  border: 3px solid rgba(255, 255, 255, 0.3);
}

.card__article>.card__image {
  position: relative;
  /* background-color: #70b741; */
  padding-top: 0.4rem;
  height: 400px;
  border-radius: 1.25rem;
}

.card__image>.card__img {
  width: 95%;
  margin: 0 auto;
  position: relative;
  z-index: 5;
  height: 95%;
  object-fit: cover;
  border-radius: 1.25rem;
}

.card__rol {
  position: absolute;
  bottom: 3rem;
  left: 10%;
  /* transform: translateX(-50%); */
  background-color: var(--color-claro-azul);
  /* background-color: chocolate; */
  height: auto;
  width: 73%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .25rem 1rem;
  border-radius: 1rem;
  color: black;
  font-weight: 500;
  z-index: 10;


}



.card__data {
  opacity: 0;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
  top: -25.00rem;
}

.card__data p {
  background-color: var(--color-contraste);
  text-align: justify;
  justify-content: center;
}

.card__name {
  background-color: var(--color-contraste);
}


/* Hover */


.card__article:hover>.card__data {
  opacity: 1;
  background-color: var(--color-contraste);
  height: 390px;
  color: white;
  cursor: pointer;
  display: block;
  transition: all 0.5s;
  z-index: 10;
  border-radius: 1.25rem;
  padding: 1.5rem 2rem;
  position: relative;
  height: 400px;
}

.card__article :hover>.card__img {
  transform: scale(1.1);
  transition: all 0.5s;
  border-radius: 1.25rem;

}


.card__shadow {
  width: 200px;
  height: 200px;
  background-color: var(--first-color-alt);
  border-radius: 50%;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
}

.card__name {
  font-size: var(--h2-font-size);
  color: var(--second-color);
  margin-bottom: .75rem;
}

.card__description {
  font-weight: 500;
  margin-bottom: 1.75rem;
}

.card__button {
  display: inline-block;
  background-color: var(--color-claro-azul);
  padding: .75rem 1.5rem;
  border-radius: .25rem;
  color: var(--color-contraste);
  font-weight: 600;
}

/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--second-color);
  display: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-bullet {
  background-color: hsl(224, 32%, 40%);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--second-color);
}

/*=============== MEDIA QUERIES ===============*/

@media screen and (max-width: 700px) {

  /* footer{
    height: 20%;
  } */

  .card__data {
    padding: 1rem;
  }
}

/*=============== banner ===============*/

main a {
  color: inherit;
}



main li {
  display: block;
  margin-top: 10px;
  color: var(--color-contraste);
  font-size: x-large;
}

main li a.active {
  font-weight: bold;
  font-size: xx-large;
  color: var(--color-contraste);
}

ul {
  list-style: none;
  padding: 0;
}

#banner-menu {
  display: flex;
  align-items: center;
}

.banner-pdt {
  margin: 0.5rem 0.5rem;
  padding: 1rem;
  box-shadow: 0px 0px 0px 2px var(--color-contraste);
  border: none;
  border-radius: 0rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#buy {
  background-color: var(--color-contraste);
  color: var(--color-principal);
}

.slider {
  color: var(--color-contraste);
  position: relative;
  display: grid;
  height: 93vh;
}

.slides .slide {
  min-height: calc(100%);

  width: 100%;
  position: relative;
  z-index: 5;
  height: 95%;
}

.slides {
  overflow-y: auto;
  scrollbar-width: none;
  height: 93vh;
  max-height: 900px;
  max-width: 100%;
  overflow: hidden;
}

.img-banner {
  width: 100%;
  max-height: 100vh;
  /* margin: 0 auto;
  position: relative;
  z-index: 5;
  height: 95%; */
  object-fit: cover;
}

.description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.banner-content {
  padding: 0rem 2.5rem;
}

.carrusel-banner .carousel-caption {
  color: black;
  text-align: right;
  /* background-color: rgb(100, 94, 78, 0.5); */
}

.carrusel-banner .banner-button {
  font-size: medium;
}

.carrusel-banner .banner-pdt {
  padding: 0.5rem 0.6rem;
}

@media (min-width: 0px) and (max-width: 767px) {

  .description {
    margin: 0.5rem 0rem;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    top: 0; */
  }

  #img__banner {
    order: -1;
    max-height: 30rem;
    align-items: center;
    justify-content: center;
    vertical-align: baseline;
    box-shadow: 0px 0px 0px 3px green;
    overflow: hidden;
  }

}

/*=============== banner ===============*/

/*=============== PRODUCT LIST ===============*/

.contenedor-lista-productos{
  background-color: var(--color-principal);
  background-color: white;
}

.encabezado{
  /* margin: 6rem 0rem 4rem 3rem; */
  padding: 6rem 0rem 2rem 0rem;
  text-align: center;
}

#encabezado-filtro{
  margin-left: 1rem;
}

/* .filters{
  box-shadow: 0px 0px 0px 3px red;
} */

.product-list{
  display: flex;
  justify-content: center;
}

.card__lista__productos{
  position: relative;
  display: flex;
  justify-content: center;
  width: 16rem;
  margin: 1rem 1rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
}

.iconHeart-lista{
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.iconHeart-lista:hover{
  color: black;
  background-color: rgba(1, 1, 1, 0);
}

.imagen-lista{
  width: 16rem;
  /* height: 20rem; */
  border-radius: 1rem 1rem 0rem 0rem;
  overflow: hidden;
}

.card__lista__productos img{
  width: 100%;
  max-height: 35vh;
  border-radius: 1rem 1rem 0rem 0rem;
  object-fit: cover;
}

/* .card__lista__productos img:hover{
  transform: scale(1.4);
  transition: all 0.8s;
  border-radius: 1rem;
} */

.card__lista__productos .card-body{
  margin: 0.5rem;
}

.card__lista__productos .list-card-title,
.card__lista__productos .list-card-text{
  margin: 0.5rem 0rem;
}

.list-card-button{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.list-card-button button{
  margin: 0;
  padding: 0.5rem;
  background-color: var(--color-contraste);
  color: var(--color-principal);
  box-shadow: 0px 0px 0px 2px var(--color-contraste);
  border: none;
  border-radius: 0rem;
}

.card__lista__productos a,
.card__lista__productos .list-card-button{
  visibility: hidden;
}

.card__lista__productos:hover a,
.card__lista__productos:hover .list-card-button{
  visibility: visible;
}


.list-card-text{
  color: #8c8c8c;
}

.filters label{
  margin-left: 1rem;
  font-size: medium;
}

.filters li:hover{
  background-color: white;
}

.filters input[type="checkbox"] {
  accent-color: var(--color-contraste);
}

#sidebar-menu-filter-text{
  margin: 1rem;
}

.sidebar-menu-button{
  margin: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-menu-button button{
  font-size: small;
  margin: 0.5rem;
  padding: 0.3rem;
  background-color: var(--color-contraste);
  color: var(--color-principal);
  box-shadow: 0px 0px 0px 2px var(--color-contraste);
  border: none;
  border-radius: 0rem;
}

#remove-filters{
  font-size: small;
  margin: 0.5rem;
  padding: 0.3rem;
  background-color: var(--color-principal);
  color: var(--color-contraste);
  box-shadow: 0px 0px 0px 2px var(--color-contraste);
  border: none;
  border-radius: 0rem;
}