:root {
    /*========== Colores ==========*/
    --color-principal: #fff9ec;
    --color-contraste: #645e4e;
    --color-contraste-transparente: rgb(100, 94, 78, 0.9);
    --color-claro: #b2ab99;
    --color_footer: #a1c9c1;
    --color-claro-azul: #d8fff9;
    --color-header: background-color: rgba(255, 255, 255, 0); /* Fondo transparente */
  }
  
  *{
    font-optical-sizing: auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  } 
  
  body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;    /*elimina el scroll del eje x*/
  }
  
 .warnings{
  width: 200px;
  text-align: center;
  margin: auto;
  color: red;
  padding-top: 20px;
 }
  /* ================ header ================ */

  #headerZapateria {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--color-header);
  
  }
  
  .navbar {
    margin: 20;
    padding: 0;
  
  }
  
  .collapse {
    /*background-color: rgba(128, 128, 128, 0.9);*/
    /* background-color: rgba(255, 255, 255, 0.9); */
    z-index: 1000;
  }
  
  .nav-link,
  .nav-bg,
  .icons,
  .icon,
  #navbar-bg {
    background-color: var(--color-header);
    z-index: 1000;
  }
  
  #bannerId {
    margin-top: 80px;
  }
  
  @media (max-width: 900px) {
    #headerZapateria{
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
  
  @media (min-width: 900px) {
    #headerZapateria {
      position: fixed;
      z-index: 1000;
      background-color: var(--color-header);
      /* border: 4px solid black; */
      width: 100%;
    }
  
    .navbar {
      margin: 0;
      padding: 0;
  
    }
  
    .collapse,
    .nav-link,
    .nav-bg,
    .icons,
    .icon,
    #navbar-bg {
      background-color: var(--color-header);
    }
  
    #bannerId {
      margin-top: 0px;
    }
  
  
  
  }

  #headerZapateria:hover{
    background-color: rgb(191, 181, 158, 0.8);
  }
  
  
  /* ================ FOOTER ================ */
  
  /* ================ FOOTER ================ */


footer h2 {
  /*margin: 0 0 10px;*/
  font-size: 25px;
  color: white;
  padding-top: 5%;
  padding-bottom: 4%;

}

footer p {
  margin: 0;
}
.row a{
  color: black;
  font-size: 20px;
} 



.footer_section{
  background: #A1C9C1;
  color: rgb(255 255 255 / 50%);
  bottom: 0;
  height: 20%;
  width: 100%;

}

.titulo-footer a{
  display: grid;

} 

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #ffffff33;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: white;
}

    /* ================ FOOTER ================ */

  /* ================ FORMULARIO ================ */

.contenedor_principal_resgistro{
    background-color: var(--color-principal);
    margin-top: 0px;
    left: 0;
    height: 90vh; 
    width: 100%;
    z-index: 8;
    margin-bottom: 5px;
  }
  .contenedor_imagen_registro{
    background-color: var(--color-principal);
    left: 0;
    height: 90vh;
    top: 0;
    z-index: 1;
    
  }
  
  .contenedor_imagen_registro > img{
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    object-position: 0 30%;
  }
  
  .formularioRegistro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    z-index: 2;
  }
  
  .btnCrearCuenta{
    color: white;
    background-color: #645E4E;
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  @media (min-width: 770px) and (max-width: 998px) {
    .contenedor_principal_resgistro {
        position: relative;
        top : 0;
        /* Reducir la altura del contenedor */
        margin-top: 0px;
        left: 0;
        width: 100%;
        margin-bottom: 0px;
        background-color: #fff9ec;
    }
    .contenedor_imagen_registro{
      background: rgba(255, 255, 255, 0.112);
      backdrop-filter: blur(3px);
      -webkit-backdrop-filter: blur(3px);
    }
    

    .formularioRegistro {
      color: #a1c9c1;
      background-color: #fff9ec;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 60px;
      align-items: center;
      width: 50%;
      height: 80%;
      z-index: 2;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: rgba(255, 255, 255, 0.112);
      backdrop-filter: blur(3px);
      -webkit-backdrop-filter: blur(3px);
    }
    
}

@media (min-width: 230px) and (max-width: 575px) {
  #textCrear{  
    margin-top: 0px;
  }
    .contenedor_principal_resgistro {
        top : 0;
        margin-bottom: 0px;
        background-color: #fff9ec;
    }
    .formularioRegistro{
      color: #a1c9c1;
      background-color: #fff9ec;
      position: absolute;
      top : 0;
      /* Reducir la altura del contenedor */
      margin-top: 80px;
      left: 0;
      width: 100%;
      z-index: 2;
    }


}
:root {
    /*========== Colores ==========*/
    --color-principal: #fff9ec;
    --color-contraste: #645e4e;
    --color-contraste-transparente: rgb(100, 94, 78, 0.9);
    --color-claro: #b2ab99;
    --color_footer: #a1c9c1;
    --color-claro-azul: #d8fff9;
    --color-header: background-color: rgba(255, 255, 255, 0); /* Fondo transparente */
  }
  
  *{
    font-optical-sizing: auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  } 
  
  body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;    /*elimina el scroll del eje x*/
  }
  
 .warnings{
  width: 200px;
  text-align: center;
  margin: auto;
  color: red;
  padding-top: 20px;
 }
  /* ================ header ================ */

#headerZapateria {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--color-header);

}

.navbar {
  margin: 20;
  padding: 0;

}

.collapse {
  /*background-color: rgba(128, 128, 128, 0.9);*/
  /* background-color: rgba(255, 255, 255, 0.9); */
  z-index: 1000;
}

.nav-link,
.nav-bg,
.icons,
.icon,
#navbar-bg {
  background-color: var(--color-header);
  z-index: 1000;
}

#bannerId {
  margin-top: 80px;
}

@media (max-width: 900px) {
  #headerZapateria{
    background-color: rgba(255, 255, 255, 0.4);
  }
}

@media (min-width: 900px) {
  #headerZapateria {
    position: fixed;
    z-index: 1000;
    background-color: var(--color-header);
    /* border: 4px solid black; */
    width: 100%;
  }

  .navbar {
    margin: 0;
    padding: 0;

  }

  .collapse,
  .nav-link,
  .nav-bg,
  .icons,
  .icon,
  #navbar-bg {
    background-color: var(--color-header);
  }

}
#textCrear,
#spacefooter {
  margin-top: 80px;
}

#headerZapateria:hover{
  background-color: rgb(191, 181, 158, 0.8);
}
  /* ================ HEADER ================ */

 
  
  /* ================ FOOTER ================ */


footer h2 {
  /*margin: 0 0 10px;*/
  font-size: 25px;
  color: white;
  padding-top: 5%;
  padding-bottom: 4%;

}

footer p {
  margin: 0;
}
.row a{
  color: black;
  font-size: 20px;
} 



.footer_section{
  background: #A1C9C1;
  color: rgb(255 255 255 / 50%);
  bottom: 0;
  height: 20%;
  width: 100%;

}

.titulo-footer a{
  display: grid;

} 

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #ffffff33;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: white;
}

    /* ================ FOOTER ================ */

  /* ================ FORMULARIO ================ */
#imgRegis{
  border-radius: 20px;
}
.contenedor_principal_resgistro{
    background-color: var(--color-principal);
    margin-top: 0px;
    left: 0;
    height: 90vh; 
    width: 100%;
    z-index: 8;
    margin-bottom: 5px;
  }
  .contenedor_imagen_registro{
    background-color: var(--color-principal);
    left: 0;
    height: 90vh;
    top: 0;
    z-index: 1;
    
  }
  
  .contenedor_imagen_registro > img{
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    object-position: 0 30%;
  }
  
  .formularioRegistro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    z-index: 2;
  }
  
  .btnCrearCuenta{
    color: white;
    background-color: #645E4E;
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  #espacioFooter{
    margin-top: 70;
  }

  @media (min-width: 770px) and (max-width: 998px) {
    .contenedor_principal_resgistro {
        position: relative;
        top : 0;
        /* Reducir la altura del contenedor */
        margin-top: 0px;
        left: 0;
        width: 100%;
        margin-bottom: 0px;
        background-color: #fff9ec;
    }
    .contenedor_imagen_registro{
      background: rgba(255, 255, 255, 0.112);
      backdrop-filter: blur(3px);
      -webkit-backdrop-filter: blur(3px);
    }
    

    .formularioRegistro {
      color: #a1c9c1;
      background-color: #fff9ec;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 60px;
      align-items: center;
      width: 50%;
      height: 80%;
      z-index: 2;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: rgba(255, 255, 255, 0.112);
      backdrop-filter: blur(3px);
      -webkit-backdrop-filter: blur(3px);
    }
    #espacioFooter{
      margin-top: 70;
    }
    
}

@media (min-width: 230px) and (max-width: 575px) {
  #textCrear{  
    margin-top: 0px;
  }
    .contenedor_principal_resgistro {
        top : 0;
        margin-bottom: 0px;
        background-color: #fff9ec;
    }
    .formularioRegistro{
      color: #a1c9c1;
      background-color: #fff9ec;
      position: absolute;
      top : 0;
      /* Reducir la altura del contenedor */
      margin-top: 80px;
      left: 0;
      width: 100%;
      z-index: 2;
    }
    #espacioFooter{
      margin-top: 70;
    }

}
    /* ================ FORMULARIO ================ */