* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}


body {
    background-color: #FFF9EC;
    margin: auto;

}

.container {
    margin-top: 40px;

}

.btn {
    color: white;
    background-color: #B2AB99;
    margin-bottom: 50px;
}

.text-center {
    margin: auto;
    margin-top: 150px;
}

.formulario {
    margin-top: 70px;
}

.right {
    margin-left: 200px;
}

:root {
    --color_footer: #A1C9C1;

}

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 100%;
    font-weight: 0;
    font-style: normal;
}


.caja {
    background-color: #D8FFF9;
    white-space: nowrap;
    display: inline-block;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#iconos {
    padding: 1rem;
    align-items: center;
}

#iconos img {
    white-space: nowrap;
    display: inline-block;
    margin-right: 2rem;
}

/*----footer----*/

footer {
    background-color: var(--color_footer);
    padding: 1rem;
    margin-top: 70px;

}


footer {
    background-color: var(--color_footer);
    padding: 2rem;
    width: 100%;
}


.caja {
    white-space: nowrap;
    display: inline-block;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#iconos {
    padding: 1rem;
    align-items: center;
}

#iconos img {
    white-space: nowrap;
    display: inline-block;
    margin-right: 2rem;
}

/* ================ FOOTER ================ */

footer {
    background-color: var(--color_footer);
    padding: 2rem;
    width: 100%;
}

.footer-bg,
.icon-footer,
#iconos {
    background-color: var(--color_footer);
}

.caja {
    background-color: var(--color-claro-azul);
    white-space: nowrap;
    display: inline-block;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#iconos {
    padding: 1rem;
    align-items: center;
}

#iconos img {
    white-space: nowrap;
    display: inline-block;
    margin-right: 2rem;
}

/*-----header-----*/

/* ================ header ================ */

.navbar {
    margin: 0;
    padding: 0;
}

.collapse,
.nav-link,
.nav-bg,
.icons,
.icon,
#navbar-bg {
    background-color: var(--color-principal);
}

.container-fluid {
    padding-left: calc(var(--bs-gutter-x)* -0.5);

}



nav {
    background-color: transparent;

}


div.icons {
    background-color: transparent;
}

/* ================ header ================ */

.navbar {
    margin: 0;
    padding: 0;
}

.collapse,
.nav-link,
.nav-bg,
.icons,
.icon,
#navbar-bg {
    background-color: var(--color-principal);
}



/*----------------*/
#contenedorZap {
    max-width: 30%;
    /* La imagen no puede ser más ancha que el contenedor */
    overflow: hidden;
    /* Oculta el contenido que desborda el contenedor */
    display: flex;
    justify-content: right;
}

#contenedorZap img {
    width: auto;
    /* La imagen ocupa todo el ancho del contenedor */
    height: auto;
    /* La altura se ajusta automáticamente para mantener la proporción */

    transform: translateX(20px);
}

/* Media query para colapsar la imagen cuando el ancho de la ventana sea menor o igual a 1600px */
@media (max-width: 900px) {
    #contenedorZap {

        /* max-width: 0%; /* La imagen no puede ser más ancha que el 100% del contenedor */
        width: 100%;
        margin-top: 20px;
        /* Ajusta según sea necesario */
        max-width: 153px;
        justify-content: center;
        overflow: visible;


    }

}


@media (max-width: 750px) {
    .col-6 {

        width: -webkit-fill-available;


    }

}

@media (max-width: 750px) {
    .container {

        text-align: center;
        margin-right: 0px;
        width: 100%;
        overflow: auto;

    }

}


@media (max-width: 750px) {
    .row {
        padding-left: calc(var(--bs-gutter-x)* 1.5);
    }

}

/*--------------------------------------*/


.container {
    max-width: 100%;
    margin: 0;
    margin-left: 0%;
    margin-top: 0%;
    padding: 20px;
    height: 649px;
    overflow-y: scroll;

}

button {
    padding: 0.5rem;
    border: none;
    background-color: #E8E2D5;
    border-radius: 10%;

}

.buttonsumaresta {
    border-radius: 100%;
    padding: 2px 8px;
}

#tablaProductos {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: transparent;
    color: black;
}

tr:hover {
    background-color: #f5f5f5;
}

.checkout-btn {
    background-color: #B2AB99;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.checkout-btn:hover {
    background-color: #B2AB99;
}

@media screen and (max-width: 880px) {
    .content {
        flex-direction: column;
        width: 150%;
    }

    .container {
        max-width: 100%;
    }

}

.producto-imagen {

    width: 100px;
    height: auto;
    border-radius: 15%;

}

/* ================ header ================ */

#headerZapateria {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--color-header);
  
  }
  
  .navbar {
    margin: 20;
    padding: 0;
  
  }
  
  .collapse {
    /*background-color: rgba(128, 128, 128, 0.9);*/
    /* background-color: rgba(255, 255, 255, 0.9); */
    z-index: 1000;
  }
  
  .nav-link,
  .nav-bg,
  .icons,
  .icon,
  #navbar-bg {
    background-color: var(--color-header);
    z-index: 1000;
  }
  
  #bannerId {
    margin-top: 80px;
  }
  
  @media (max-width: 900px) {
    #headerZapateria{
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
  
  @media (min-width: 900px) {
    #headerZapateria {
      position: fixed;
      z-index: 1000;
      background-color: var(--color-header);
      /* border: 4px solid black; */
      width: 100%;
    }
  
    .navbar {
      margin: 0;
      padding: 0;
  
    }
  
    .collapse,
    .nav-link,
    .nav-bg,
    .icons,
    .icon,
    #navbar-bg {
      background-color: var(--color-header);
    }
  
    #bannerId {
      margin-top: 0px;
    }
  
  
  
  }


/* ================ FOOTER ================ */

